name: Deploy Hugo site to Pages

on:
  push:
    branches:
      - main # Triggers the workflow on pushes to the main branch
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

# Sets permissions granted to the GITHUB_TOKEN for this workflow.
permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0 # Fetch all history for Hugo's last modified feature

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true # Use the extended version if your theme requires it

      - name: Build site
        run: hugo --minify # Generates static files into the public directory

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          # Optionally specify a custom domain
          # cname: 'www.example.com'